html, body{
	height: 90%;
}

h1{
	font-size: 5em;
	text-align: center;
}


.time_text{
	font-size: 2em;
	text-align: center;
	

}

#time{

}

.question{
	font-size: 3em;
}

.q{
	height: 70%;
	width: 70%;
	text-align: center;
}

.answers{
width: 50%;
text-align: center;
margin: 0 auto;
font-size: 2em;
padding: 5px
}

.answers:hover {
	background-color: #92CAF6;
	transform: skew(-5deg);
}

.critical {
	color: #F62020;
}



